.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

table {
    background-color: #404040;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5% ;
    padding: 1%;
    border-radius: 5%;

}
h5 {
    text-align: center;
    margin: 5%;
}

td {
    padding: 1%;
    text-align: center;
}


th {
    padding: 1%;
    border-bottom: 1px solid red;
    margin-bottom: 2%;
}

.img1 {
    width: 50%;
    height: 50%;  
     
}


.img1:active {
    transform: translateY(4px);
  }

.logout {
    margin-left: 5%;
    background-color: red;
    color: white;
    border-radius: 5%;
    border-style: none;
    padding: 2%;
}



